
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card card-statistics">
            <div class="row no-gutters">
                <div class="col-xxl-3 col-lg-6">
                    <div class="p-20 border-lg-right border-bottom border-xxl-bottom-0">
                        <div class="d-flex m-b-10">
                            <p class="mb-0 font-regular text-muted font-weight-bold">Total Order</p>
                        </div>
                        <h2 style="text-align:center">4783</h2>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-6">
                    <div class="p-20 border-lg-right border-bottom border-xxl-bottom-0">
                        <div class="d-flex m-b-10">
                            <p class="mb-0 font-regular text-muted font-weight-bold">Pending Order</p>
                        </div>
                        <h2 style="text-align:center">4783</h2>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-6">
                    <div class="p-20 border-lg-right border-bottom border-xxl-bottom-0">
                        <div class="d-flex m-b-10">
                            <p class="mb-0 font-regular text-muted font-weight-bold">Approved Order</p>
                        </div>
                        <h2 style="text-align:center">4783</h2>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-6">
                    <div class="p-20 border-lg-right border-bottom border-xxl-bottom-0">
                        <div class="d-flex m-b-10">
                            <p class="mb-0 font-regular text-muted font-weight-bold">Rejected Order</p>
                        </div>
                        <span class="fa fa-binoculars"></span>
                        <h2 style="text-align:center">4783</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>