@model IEnumerable<Online_Shopping.Models.Category>

@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CategoryList</h2>

<p>
    @Html.ActionLink("Create New", "AddCategory")
</p>

