
@{
    Layout = "~/Views/Shared/_customerLayout.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<body>

    <section id="form">
        <!--form-->
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    
                </div>
                <div class="col-sm-8">
                    <div class="signup-form">
                        <h2>NOTE:<mark>If the Email Or Conform password was wrong then you will redirected to this page!</mark></h2>
                        <!--sign up form-->
                        <h2>Forget Password</h2>
                        <form method="post">
                            <label>Current Email</label>
                            <input type="email" name="CusEmail" placeholder="Email Address" />
                            <label>New Password</label>
                            <input type="password" name="CusPassword" placeholder="Password" />
                            <label>Confirm Password</label>
                            <input type="password" name="ConformPassword" placeholder="Conform Password" />
                            <button type="submit" class="btn btn-default">Confirm</button>
                        </form>
                    </div><!--/sign up form-->
                </div>
                <div class="col-sm-2">
                </div>
            </div>
            </div>
    </section><!--/form-->




    <script src="js/jquery.js"></script>
    <script src="js/price-range.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
</html>